C:\Users\yoanc\Documents\World_News_Analysis_v.1\world_news_analysis\Lib\site-packages\en_core_web_lg/
C:\Users\yoanc\Documents\World_News_Analysis_v.1\world_news_analysis\Lib\site-packages\en_core_web_lg-3.5.0.dist-info

#ignore anything preceded by . 
.*